language: python
python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6
  - nightly
sudo: false
cache:
  - pip
services:
  - redis-server
install:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install -r requirements-26.txt; fi
  - pip install -r requirements.txt
  - pip install coverage python-coveralls
before_script:
  - flake8
script:
  - coverage erase
  - coverage run --source fakenewsredis test_fakenewsredis.py
after_success: coveralls
