[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]
tox = "*"
nose = "==1.3.4"

[packages]
"flake8" = "<3.0.0"
redis = "==2.10.6"
lupa = "==1.6"
future = "==0.16.0"
